{% extends 'base.html' %}

{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content%}

<!-- Header  -->
{% include 'header.html' %}

<!-- Banner  -->
<div class="landingpage-panel" id="banner">
  {{page.banner_title|richtext}}
  {{page.banner_blurb|richtext}}
  <a href="mailto:ramanan.parameswaran@gmail.com" target="_blank" class="btn btn-primary mx-auto">Get in touch!</a>
</div>

<!-- About me -->
<div class="landingpage-panel" id="about-me">
  <div class="container">

    <div class="row">
      <div class="col-md-8">
        <div id="aboutme_text">{{page.aboutme_text|richtext}}</div>
      </div>
      <div class="col-md-4">
        <div id="aboutme_photo">
          {% image self.aboutme_photo original as photo %}
          <img src="{{photo.url}}" alt="{{photo.alt}}" style="width:100%">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <a class="btn btn-primary" href="https://github.com/RamParameswaran" target="_blank">Github</a>
        <a class="btn btn-primary" href="https://www.linkedin.com/in/ram-parameswaran/" target="_blank">LinkedIn</a>
      </div>
    </div>

  </div>
</div>

<!-- Portfolio Items -->
<div class=" landingpage-panel" id="portfolio-items">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Selected Portfolio</h2>
        <br>
      </div>
    </div>
    <div class="row">
      {% for item in self.portfolio_items.all %}

      <div class="card col-md-6 col-12" id="{{item.id}}">
        <div class="card-body">

          <!-- Card title block, image, and tags -->
          <div class="row">
            <div class="col-7">
              <h3>{{item.item_title}}</h3>
              {% for tag in item.item_tags.all %}
              <span class="badge badge-pill badge-warning">{{tag}}</span>
              {% endfor %}
              {% if item.in_progress%}<span style="display: block; padding-top:10px"><b><i>[Project in progress]</i></b></span>{% endif %}
            </div>
            <div class="col-5 mx-auto">
              {% image item.item_image min-200x100 as item_img %}
              <img src="{{item_img.url}}" alt="{{item_img.alt}}">
            </div>
          </div>

          <!-- Card text -->
          <div class="row">
            <div class="col-12">
              {{item.item_description|richtext}}
            </div>
          </div>

          <!-- Card links -->
          <div class="row">
            <div class="col-12">

              {% if item.item_link %}
              <a class="btn btn-primary portfolioitem-link" href="{{item.item_link}}" target="_blank"><i
                  class="fas fa-link"> See
                  live</i></a>
              {% endif %}

              {% if item.item_sourcecode_link %}
              <a class="btn btn-primary portfolioitem-link" href="{{item.item_sourcecode_link}}" target="_blank"><i
                  class="fab fa-github"> Source
                  code</i></a>
              {% endif %}

              {% if item.item_blogpost_link %}
              <a class="btn btn-primary portfolioitem-link" href="{{item.item_blogpost_link}}" target="_blank"><i
                  class="fab fa-microblog"> Read more...</i></a>
              {% endif %}


            </div>
          </div>

        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</div>

<!-- Footer -->

<div id="footer"></div>

{% endblock %}
