{% extends 'base.html' %}

{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block title %} Ram Parameswaran | Web Developer {% endblock %}
{% block description %}Ram Parameswaran - Django & React.js Developer, data geek and maker-enthusiast. Ram makes
functional web applications to solve your business problems{% endblock %}

{% block content%}

<!-- Header  -->
{% include 'header.html' %}

<a href="/contact" id="get-in-touch-overlay" class="btn btn-primary mx-auto">Get in touch!</a>

<!-- Banner  -->
<div class="landingpage-panel" id="banner">
  <h4 style="font-weight: 600; margin-bottom: 20px">Django & React Developer, Data Geek and Maker-Enthusiast</h4>
  <h3>I make functional web applications to solve your business problems</h3>
  <a href="/contact" class="btn btn-primary mx-auto">Get in touch!</a>
</div>

<!-- About me -->
<div class="landingpage-panel" id="about-me">
  <div class="container" style="max-width: 800px">

    <div class="row">
      <div class="col-md-8">
        <div id="aboutme_text">
          <h4 style="font-weight: 600; margin-bottom: 20px">You found me!</h4>
          <h4>My name is Ram. I build web applications that help businesses operate more efficiently.</h4>
          <h5 style="font-weight: 600; margin-top: 20px">Expertise</h5>
          <ul style="font-size: 1rem">
            <li>Django and Django Rest Framework</li>
            <li>Scalable deployments with Amazon Web Services (AWS)</li>
            <li>Modern frontends with React.js</li>
            <li>Payment processing (Stripe, Chargebee & Adyen)</li>
            <li>DRM video content delivery</li>
            <li>Wagtail CMS</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div id="aboutme_photo">
          {% image self.aboutme_photo original as photo %}
          <img src="{{photo.url}}" alt="{{photo.alt}}" style="width:100%">
        </div>
      </div>
    </div>

    <div class="col-12">
      <a class="btn btn-primary" href="https://github.com/RamParameswaran" target="_blank"><i class="fab fa-github"></i> Github</a>
      <a class="btn btn-primary" href="https://www.linkedin.com/in/ram-parameswaran/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
    </div>

  </div>
</div>

<!-- Portfolio Items -->
<div class="landingpage-panel" id="portfolio-items">
  <div class="container" style="max-width: 800px">
    <div class="row">
      <div class="col-12 text-center">
        <h4 style="font-weight: 600; margin-bottom: 20px">Portfolio</h4>
      </div>
    </div>

    <div class="card-columns">

      {% for item in self.portfolio_items.all %}

      <div class="card" id="{{item.id}}" style="padding-bottom: 10px">
        <!-- Card image -->
        <div style="text-align: center; margin-bottom: 10px; overflow: hidden">
          {% image item.item_image original as item_img %}
          <img src="{{item_img.url}}" alt="{{item_img.alt}}" width="100%">
        </div>

        <!-- Card title block, image, and tags -->
        <div class="col-12" style="margin-bottom: 10px">
          <h3>{{item.item_title}}</h3>
          {% for tag in item.item_tags.all %}
          <span class="badge badge-pill badge-warning">{{tag}}</span>
          {% endfor %}
          <!-- {% if item.in_progress%}<span style="display: block; padding-top:10px"><b><i>[Project in progress]</i></b></span>{% endif %} -->
        </div>


        <!-- Card text -->
        <div class="col-12">
          {{item.item_description|richtext}}
        </div>

        <!-- Card links -->

        <div class="col-12">
          {% if item.item_link %}
          <a style="display: block" href="{{item.item_link}}" target="_blank"><i class="fas fa-link">
              See
              live</i></a>
          {% endif %}

          {% if item.item_sourcecode_link %}
          <a style="display: block" href="{{item.item_sourcecode_link}}" target="_blank"><i class="fab fa-github">
              Source
              code</i></a>
          {% endif %}

          {% if item.item_blogpost_link %}
          <a style="display: block" href="{{item.item_blogpost_link}}" target="_blank"><i class="fab fa-microblog"> Read
              more...</i></a>
          {% endif %}
        </div>

      </div>

      {% endfor %}
    </div>

    <div class="sharethis-inline-share-buttons" style="padding-top: 70px"></div>
  </div>


</div>

<!-- Footer -->

<div id="footer"></div>

{% endblock %}
