{% extends 'base.html' %}

{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block title %} Ram Parameswaran | {{page.title}} {% endblock %}
{% block description %}{{page.seo_description}}{% endblock %}

{% block content%}

<!-- Header  -->
{% include 'header.html' %}

<a href="/contact" id="get-in-touch-overlay" class="btn btn-primary mx-auto">Get in touch!</a>

<!-- Banner  -->
<div id="blog-post">

  <div class="container">
    <div class="blog-post">
      <div class="article">
        <!-- Back button -->
        <div style="font-size: smaller;">
          <a href="/blog"><i class="fas fa-angle-double-left"></i> Back</a>
        </div>
        <!-- Card title block, image, and tags -->
        <div class="row content">

          <div class="col-12 blog-item-section">
            <span style="display: block">
              <h3>{{page.title}}</h3>
            </span>
            <span style="display: block"><span style="color: grey">By</span> {{page.author}}</span>
            <span style="display: block">
              {% for tag in page.tags.all %}
              <span class="badge badge-pill badge-warning"><small>{{tag}}</small></span>
              {% endfor %}
            </span>
          </div>

          <hr>

          <div class="col-12 blog-item-section text-center">
            {% image page.cover_photo original as img %}
            <img style="max-height: 500px" src="{{img.url}}" alt="{{img.alt}}">
          </div>

          <div class="col-12 blog-item-section">
            {% for block in page.body %}
                <section>{% include_block block %}</section>
            {% endfor %}
          </div>

          <div class="col-12 blog-item-section" style="padding-bottom: 1.5em">
              <a href="/blog"><i class="fas fa-angle-double-left"></i> Read more</a>
          </div>

        </div>

      <div class="sharethis-inline-share-buttons" ></div>

      </div>



      <div class="author-profile col-xs-12">
        <div class="row">
          <div class="col-md-2 col-xs-12 author-avatar text-center">
            <img src="{% static 'images/Headshot.webp' %}" alt="Ram Parameswaran" itemprop="image">
          </div>
          <div class="col-md-10 col-xs-12">
            <h4 itemprop="name"><span style="color: grey"><small>about</small></span> <a href="/">{{page.author}}</a>
            </h4>
            <p itemprop="disambiguatingDescription">
              Django & React Developer, Data Geek and Maker-Enthusiast. <br>
              Ram builds web applications that help businesses operate more efficiently.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Footer -->

<div id="footer"></div>

{% endblock %}
