
{% load wagtailcore_tags %}

<nav id="header" class="navbar navbar-expand-sm navbar-light bg-white">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Portfolio</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% slugurl 'blog' %}">Blog</a>
      </li>
    </ul>
  </div>
</nav>