{% load wagtailcore_tags %}

<nav
  id="header"
  class="navbar navbar-expand-sm navbar-light bg-white shadow"
  style="padding: 0px; position: fixed; left: 0; right: 0; z-index: 1000"
>
  <ul class="navbar-nav mx-auto" style="flex-direction: unset">
    <li class="nav-item active">
      <a class="nav-link" href="/#portfolio-items"
        ><h5 style="margin: 0px; font-weight: 600">Portfolio</h5></a
      >
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/blog"
        ><h5 style="margin: 0px; font-weight: 600">Blog</h5></a
      >
    </li>
  </ul>
</nav>
