#blog-banner {
  padding-top: 70px;
  padding-bottom: 75px;
  text-align: center;
  background: rgb(226, 239, 245);
  background: linear-gradient(90deg, rgba(226, 239, 245, 1) 0%, rgba(210, 229, 240, 1) 35%, rgba(168, 208, 230, 1) 100%);
}

#blog-post {
  padding-top: 40px;
  padding-bottom: 75px;
  background-color: #a8d0e6;
}

.blogpage-panel {
  padding-top: 40px;
  padding-bottom: 40px;
}

.blog-post .article {
  background-color: #fff;
  margin-top: 2em;
  padding: 1.5em 2em;
  overflow: hidden;

  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  .blog-post .article {
    padding: 3em 6em;
  }
}

.blog-post .article .content p {
  line-height: 1.6;
  word-wrap: break-word;
  color: #333;
  margin: 1.5em 0;
}

.blog-post .article .content b,
.blog-post .article .content strong {
  font-weight: 700;
}

.blog-post .article .content img {
  margin: 2em 0;
  display: inline-block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}

code {
  padding: 2px 4px;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.blog-post a {
  color: #3FB7D9;
}

.blog-post .article .content blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;
}

.author-profile {
  display: inline-block;
  width: 100%;
  margin: 2em 0;
  padding: 36px;
  background-color: #fff;
}

.author-profile .author-avatar img {
  max-width: 200px;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #DFDFDF;
}
